<table style="width: 50%">
  <tr>
    <th><%= @cat.name %></th>
    <td><%= @cat.birth_date %></td>
    <td><%= @cat.age %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.description %></td>
  </tr>
</table>
<br>

<table style="width: 50%">
  <% @cat.cat_rental_requests.each do |rental| %>
    <%= "Start Date: " + rental.start_date.to_s + " End Date: " + rental.end_date.to_s %>
    <br>
  <% end %>
<table>
